@charset "utf-8";






.container{background-color:aliceblue;
           max-width: 90%;
           margin: auto;
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
           gap: 5px;}

.container-news{background-color: crimson;
                width: 100%;
                 height: 200px;
                 display: flex;
                 justify-content: space-between;}
                 
                
#news-header{background-color: #122EF5;
             border-radius: 35px;}                   
                
              
              
   #title{font-size: 4.610em;
          padding-left: 10px;
          display: flex;
          color: white;
        
        
        } 
        
        
        .menu{display: flex;
              align-items: center;
            

              
             }

       
          
    .menu .nav a{text-decoration: none;
                color:white;
                font-size: 25px;
                }

    .nav a{ padding: 10px;}  

    .nav a:hover{color:white;
                  font-size:30px;
                   font-weight: bolder;}

  #news-header a:hover{background-color: black;
                       border-radius: 25px;
                       border: solid 3px white;}               
    
/*------------------------SECTION ID SAIBAMAIS------------------------------------------------------------*/
          
      #SaibaMais{background-color: white;
                 height: auto;
                 display: flex;}  
                 
        #saibaMaisTexto{display: flex;
                        align-items: center;
                          }
        
        #title-II{font-size: 48px;
                 color: #122EF5;
                 margin-left: 40px;
                 margin-bottom: 30px;}


        #melhorServico{margin-bottom: -140px;
                       margin-left: -274px;
                       display: flex;
                       font-size: 24px;
               }          
        
        
        #img-saibamais{display: flex;
                      align-items: center;}

        /*/.buton{background-color: #122EF5;
              display: flex;
              width: 260px;
              height: 52px;
              line-height: 50px;
              margin-bottom: -250px;
              margin-left: 30px;
              position: absolute;
              border-radius: 30px;
              
              
            } */
           
            
           .buton .btn-Ia{color: white;
                         background-color: #122EF5;
                         text-decoration: none;
                         font-size: 24px;
                         font-weight:bolder;
                         text-align: center;
                         

                         display: flex;
                         width: 260px;
                         height: 52px;
                         line-height: 50px;
                         margin-top: 100px;
                         margin-left: -270px;
                         position: absolute;
                         border-radius: 30px;
                         
                        
                         }

          .btn-Ia:hover{color:white;
                        background-color: black;}  
                        
          #SaibaM{padding-left: 150px;}             

/*---------------QUEM SOMOS----------------------------------------------------------*/

.container-news{display: flex;
  height: auto;
               }

 #quemSomos{background-color:white;}  
 
     #title-III::before{content:"";
                        height: 40px;
                        width: 5px;
                        background-color: #122EF5;
                        margin-right: 5px;
                        }
                         
 #title-III{font-size: 48px;
            color: #122EF5;
            margin-bottom: 20px;}
              

#p-saibaMais{font-size: 24px;}


/*------------------------SECTION NEWS--------------------------------------*/
       .container-news{ background-color: #122A57;
                       height: auto;
                       padding-bottom: 80px;}

       #H1-servicos{text-align: center;
                    margin-top: -100px;
                    position: absolute;
                    color: white;
                    font-size: 48px;}

       #servicos{display: inline-flex;
                  flex-direction:column;
                  align-items: center;
                  justify-content: space-between;
                  padding-top: 200px;}

      .item-servicos{display: inline-flex;
                      flex-direction:column;
                      
                       max-width: 60%;
                       } 

      #roteiros{text-align:center;
                position: absolute;
                 margin-top: 100px;}                 
                      
                      
      figure{display: inline-flex;
             margin-bottom: 5px;}
                             
      #fig-tres{text-align: center;
                height:200px; } 
                
                
      .info-servicos{ text-align: center;
                      display: inline;
                      flex-direction: row;}
                      
                      
       .info-servicos p{color:  white;
                       } 
                       
       .info-servicos a {color: #122A57;
                         text-decoration: none;
                         padding:15px 40px;
                        background-color:white;
                        border-radius: 35px;
                        font-weight: bolder;} 
                        
        .info-servicos a:hover{color: white;
                               background-color: black;
                               border: solid 3px white;}                
                      
        #tres-teimosa{display:inline-block;
                      text-align-last: center;
                    color: white;
                    }              
       
     #tres-teimosa p{margin-top: 220px;
                     margin-left: -190px;
                     }

     #tres-teimosa a{color:#122A57;
                     font-weight: bolder;
                     margin-left: -180px;
                    text-decoration: none;} 

    #tres-teimosa a:hover{color:white;}                
/*--------------------------------------------------------------------------------------------------*/
  

                    
/*------------------------------------SECTION PLANOS------------------------------------------------------------*/                    

 
   .flex-items-II{max-width: 90%;
                  margin: auto;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  gap: 5px;}
                

  .list-planos{display: flex;
               justify-content: space-around;
                padding-top: 300px;}

  .item-plano{flex: 2;
              border: solid 3px #122A57;
              margin-right: 20px;
              padding: 10px;
              max-width: 240px;
              height: 300px;
              padding-top: 20px;
              padding-bottom: 50px;
              border-radius: 25px;
              position: relative;
              
              } 
            
            
 

  .item-plano h3{font-size: 24px;
                 text-align: center;}                  
                    
 .item-plano ul{padding: 10px 20px;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;}
                
.item-plano ul li{display: flex;
                  flex-wrap: nowrap;
                  align-items: center;
                  }  
                  
 .item-plano ul li ::before{content: "";
                            width: 10px;
                            height: 10px;
                            background-color: #122A57;
                            margin-right: 5px;
                            }  
                            
  .item-plano h3::after{content: " ";
                         background-color: #122A57;
                         width: 100%;
                          height: 3px;
                          margin-top: 20px;
                          margin-bottom: 10px;
                           
                           }                           
                            
             
                            
  .item-plano .btn{margin:auto ;
                   color: white;
                    text-decoration: none;
                    padding:15px 40px;
                    background-color:#122EF5;
                     border-radius: 35px;
                     font-weight: bolder;
                     margin-left: 30px;
                     } 
                     
                      
 .altura-btn{margin-top: 130px;}

 #altura-btn-I{ margin-top: 115px;}

 #altura-btn-II{margin-top: 80px;}

 #altura-btn-III{margin-top: 60px;}
                     
                     
                                          
   #h1-planos{text-align: center;
              margin-top: -100px;
              position: absolute;
              font-size: 48px;
              padding-top: 240px;
              margin-left: 500px;}  
 /*---------------------------------------------------------------------*/
    .btn:hover{background-color: blue;
                border: solid 3px white;} 

    .item-plano:hover{background-color: black;
                color:white;
                border: solid 3px black;}                                 
              
/*-----------FOOTER------------------------------------------------------*/


 .flex-items-final{max-width: 90%;
                      margin: auto;
                      display: flex;
                      flex-direction: column;
                      flex-wrap: wrap;
                     }

#footer{width: 100%;
        height: 150px;
        background-color: #122EF5;
        margin-top: 155px;
        border-radius: 35px;
       margin-left: -10px;}


   .p-footer{text-align: left;
            font-size: 16px;
            font-weight: bolder;
            color: white;
            padding-left: 25px;
            } 
            
            
    .p-footer a{color:white;
               font-variant: small-caps;
                font-size: 20px;}  
                
    .p-footer a:hover{color:#122EF5;
                     }            



    #footer:hover{background-color: black;
                   }